<h2>{{ form.message }}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Name</th>
      <th scope="col">Image</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price/Unit</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <th>{{item.id}}</th>
      <td>{{item.name}}</td>
      <td>
        <img src="{{ item.url }}" width="50px" height="50px">
      </td>
      <td>
        <!-- should be a separate component -->
        <div class="btn-group input-group-sm" role="group" style="display: inline-block;">
          <button type="button" class="btn btn-secondary-sm" (click)="decrementQuantity(item)"><i
              class="fas fa-minus-circle"></i></button>

          <button type="number" class="btn btn-light-sm">{{item.qnty}}</button>

          <button type="button" class="btn btn-secondary-sm" (click)="incrementQuantity(item)"><i
              class="fas fa-plus-circle"></i></button>
        </div>
        
      </td>
      <td>{{item.price}}</td>
      <td>{{item.price * item.qnty!}}</td>
      <td>
        <button class="btn btn-outline-secondary btn-sm" (click)="removeFromCart(item)"><i
            class="fas fa-regular fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="5">Grand Total</th>
      <th colspan="2">{{calculateGrandTotal()}}</th>
    </tr>
  </tfoot>
</table>

<div>
  <app-submition-form #form [message]="message" [cartIsEmpty]="isEmpty" (messageEvent)="receiveMesssage($event)"></app-submition-form>
</div>