*{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
}

.navbar {
    background-color: rgb(56, 56, 252);
    justify-content: space-between;
    font-style: oblique;
}

span {
    padding-right: 1rem;
    font-style: normal;
}

a {
    text-decoration: none;
}