  
  <div class="card" id="product-card">
    <div class="img-container">
      <img src="{{ product.url }}" alt="{{ product.name }}" class="image card-img-top">
      <div class="overlay">
        <div id="overlay-btn">
          <div class="btn-group input-group-sm" id="btn-group" role="group" style="display: inline-block;">
            <button type="button" class="btn btn-secondary" (click)="decrement()"><i
                class="fas fa-minus-circle"></i></button>

            <button type="number" class="btn btn-light">{{qnty}}</button>

            <button type="button" class="btn btn-secondary" (click)="increment()"><i
                class="fas fa-plus-circle"></i></button>
          </div>
          <br>
          <div>
            <button class="btn btn-secondary btn-lg" (click)="addToCart(product)" name="addToCart">
              <i class="fas fa-cart-plus mr-2"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <a [title]="product.name + ' ' + 'Click for Description'" [routerLink]="['/products', product.id]">
            {{ product.name }}
          </a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Product: {{ product.price | currency }}</h6>
      </div>
    </div>
</div>